.item-detail{
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content: center;
    align-items: center;
    padding:25px;
    border-bottom: 1px solid gray;
    margin: 0px auto 0px;
    width:50%;
    cursor: pointer;

}

.item-detail:hover{
    box-shadow: 3px 3px 3px 3px gray;
}

.details{
    width:600px;
}

.item-detail>img{
    height: 100%;
    width: 300px;
}
.list-caption{
    margin-left: 450px;
    border-bottom: 3px solid black;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 1000px;
}

/* .group-detail>p{
    text-wrap: wrap;
} */

.add-info{
    display: flex;
    flex-direction: row;
    gap:10px;
    color: gray;
    align-items: center;
    align-content: center;
}
a.active{
    text-decoration: underline;
    color:teal;
}
