.group-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 250px;
    font-size: xx-large;
    width: fit-content;

}
.head-links>a{
    text-decoration: none;
    color:gray;
}
/* a.active{
    text-decoration: underline;
    color:teal;
} */
