.group-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-links{
    display: flex;
    flex-direction: row;
    gap:15px;

}
.head-links>a{
    text-decoration: none;
    color:black;
}
/* a.active{
    text-decoration: underline;
    color:teal;
} */
