.event-overview>img{
    width:500px;
}

.event-group>img{
    width:10%;
}

.event-overview{
    display: flex;
    flex-direction:row;
    gap: 100px;
    border-bottom: 3px solid black;
}
.event-show{
    padding: 50px 150px 50px;
    margin-left: 150px;
    width:1300px;
}
.event-group{
    display: flex;
    flex-direction: row;
    gap:15px;
    padding:25px;
    border-bottom: 1px solid gray;
    width:400px;

}

.event-group>*{
    flex-grow:1
}

.event-info{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 25px;
    font-size: x-large;
}

.event-detail-description{
    width:fit-content;
}


.event-group:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px gray;
}

.event-info-item{
    display: flex;
    flex-direction: row;
    gap:25px;
    align-items: center;
}

.icon{
    font-size: 45px;
}

.modal{
    width: 60%;
    margin: 30px 15px 9px 132px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
}

.event-info-item>button{
    width: 60%;
    margin: 30px 15px 9px 132px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
}

.event-button{
    display: flex;
    gap:15px;
}

.event-button>button{
    width:50%;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
