/* TODO: Add sitewide styles */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    height: 100px;
    width: 100%;


}

.logo{
    width:100px;
    cursor: pointer;
}

.fas{
    width:150px
}

.user-list{
    list-style:none;
    display: flex;
    height:40px;

}

.nav-head{
    display: flex;
    flex-direction: row;
    gap:35px;
}

.user-list>button{
    width:150px;
    font-family: 'Poor Story', system-ui;
    font-size: xx-large;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;

}

.page{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.head-session{
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
}

a{
    text-decoration: none;
    color:inherit;
}

body{
    font-family: 'Poor Story', system-ui;
    font-size: x-large;
}

#root{
    display: flex;
    justify-content: center;
}

.home-page{
    padding-right: 147px;
}

.modal-input{
    width:50%;

}

.yes-button{
    width:45%;
    padding: 15px 5px 15px 5px;
    font-family: inherit;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(180, 9, 9);
    color:white

}

.no-button{
    width:45%;
    padding: 15px 5px 15px 5px;
    font-family: inherit;
    font-size: 20px;
}
