

.event-description{
    width:600px;
}


.item-detail{
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content: center;
    align-items: center;
    padding:25px;
    border-bottom: 1px solid gray;
    margin: 0px auto 0px;
    width:50%;
    cursor: pointer;

}

.item-detail:hover{
    box-shadow: 3px 3px 3px 3px gray;
}

.details{
    width:600px;
}

.item-detail>img{
    height: 100%;
    width: 300px;
}
