

.event-description{
    width:600px;
}


.event-detail{
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content: center;
    align-items: center;

    margin: 0px auto 0px;
    width:100%;
    cursor: pointer;

}


.details{
    width:600px;
}

.item-detail>img{
    height: 100%;
    width: 300px;
}

.event-detail-parent{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top:15px;
    padding-left:35px;
}

.event-detail-parent:hover{
    box-shadow: 3px 3px 3px 3px gray;
}

.event-detail>img{
    height:100%;
    width:300px;
}
