.profile-dropdown {
  position: absolute;
}

.profile-dropdown>li>a:hover{
  text-decoration: underline;
  color:teal;
}

.profile-dropdown>li>button{
  width:150px;
  font-size: x-large;
}
.hidden {
  display: none;
}

li{
  list-style: none;
}
